.panel .about-description {
    line-height: 1.5em;
}

.staff {
    text-align: center;
}

.staff .professional {
    background-color: #ffc0cb;
    width: 250px;
    border-radius: 8px;
    margin: 0 .75em 1.5em .75em;
    display: inline-block;

}

.staff .professional img {
    width: 250px;
    border-radius: 8px 8px 0 0;
}

.staff .professional figcaption {
    font-weight: 700;
    font-size: 1.5em;
    padding: .5em 0;
}

.staff .professional p {
    font-size: 1em;
    padding-bottom: .1em;
    text-align: center;
}
 